[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "==3.1.0"
faiss-gpu = "*"
ipycanvas = "==0.13.1"
ipyfilechooser = "==0.6.0"
ipython = "==8.7.0"
ipywidgets = "==8.0.2"
jsonlines = "==3.1.0"
jupyter = "*"
jupyter-bokeh = "3.0.7"
jupyterlab = "*"
lap = "==0.4.0"
matplotlib = "==3.6.2"
numpy = "==1.24.3"
opencv-python = "==4.5.5.64"
pillow = "==9.3.0"
scipy = "==1.8.0"
scikit-image = "==0.19.2"
torch = "==1.13.1"

[dev-packages]

[requires]
python_version = "3.10"
